<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>com.skyseas.openfireplugins.group.GroupPlugin</class>
    <name>group</name>
    <description>skysea的多用户聊天XMPP扩展协议实现。</description>
    <author>张智</author>
    <version>1.0.0</version>
    <date>9/30/2014</date>
    <minServerVersion>3.9.0</minServerVersion>
    <databaseKey>sky</databaseKey>
    <databaseVersion>1</databaseVersion>
    <adminconsole>
        <tab id="tab-server">
            <sidebar id="sidebar-server-manager">
                <item id="skysea_group" name="Skysea Group"
                    url="group_setting.jsp"
                    description="set skysea group parameters." />
            </sidebar>
        </tab>
    </adminconsole> 
    
</plugin>
